body {
  --bege: #E6E0D6;
  --marrom-escuro: #816D4F;
  --marrom-claro: #B29463;
}

.banner-1 {
  margin-top: 100px;
  background-image: url(./assets/banner-1.png);
  
}

.banner-2 {
  margin-top: 100px;
  background-image: url(./assets/banner-2.png);
  
}

.banners {
  width: 100%;
  height: 100vh;
 background-repeat: no-repeat; 
 background-size: cover;
 background-position: center;
 background-attachment: fixed;

}

.banners-titulo {
  color: #0F7697;
	text-shadow: 0px 1px 4px white;
}

.texto-footer {
  color: #0F7697;
}

.cor-icones {
  color: #0F7697;
}

.bg-footer {
  background-image: url(./assets/bg-footer.png);
}

.bg-footer-size {
  width: 100%;
  height: 30vh;
 background-repeat: no-repeat; 
 background-size: cover;
}

.border-color {
  border-color: #C9E9F3;
  color: #0F7697;
}